In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import fetch_california_housing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [18]:
data = fetch_california_housing(as_frame=True)
df = data.frame
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

● Convert the dataset into a pandas DataFrame for easier handling. Handle
missing values (if any) and perform necessary feature scaling (e.g.,
standardization).

In [4]:
df.isnull().sum()

MedInc         0
HouseAge       0
AveRooms       0
AveBedrms      0
Population     0
AveOccup       0
Latitude       0
Longitude      0
MedHouseVal    0
dtype: int64

In [5]:
x = df.drop('MedHouseVal',axis=1)
y = df['MedHouseVal']

In [6]:
scaler  = StandardScaler()
x = scaler.fit_transform(x)
x = pd.DataFrame(x)
x.describe()

,0,1,2,3,4,5,6,7
count,2.064000e+04,2.064000e+04,2.064000e+04,2.064000e+04,2.064000e+04,20640.000000,2.064000e+04,2.064000e+04
mean,5.508083e-17,4.406467e-17,7.711317e-17,-1.005225e-16,-1.101617e-17,0.000000,2.247298e-15,-8.603626e-15
std,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024e+00,1.000024,1.000024e+00,1.000024e+00
min,-1.774299e+00,-2.196180e+00,-1.852319e+00,-1.610768e+00,-1.256123e+00,-0.229000,-1.447568e+00,-2.385992e+00
25%,-6.881186e-01,-8.453931e-01,-3.994496e-01,-1.911716e-01,-5.638089e-01,-0.061711,-7.967887e-01,-1.113209e+00
50%,-1.767951e-01,2.864572e-02,-8.078489e-02,-1.010650e-01,-2.291318e-01,-0.024316,-6.422871e-01,5.389137e-01
75%,4.593063e-01,6.643103e-01,2.519615e-01,6.015869e-03,2.644949e-01,0.020375,9.729566e-01,7.784964e-01
max,5.858286e+00,1.856182e+00,5.516324e+01,6.957171e+01,3.025033e+01,119.419103,2.958068e+00,2.625280e+00

● Explain the preprocessing steps you performed and justify why they are
necessary for this dataset.

ANSWER :
--------------

1 - THERE IS NO OUTLIER AS THE DATA IS AGGREGATED IN THE FIRST PLACE ITSELF
2 - NO NULL VALUE IS THERE SO WE GOT TO DO NOTHING WITHT THAT TOO
3 - ENCODING IS DONE WITH CATEGROICAL VALUE , BUT HERE IT IS ALL NUMERICAL VALUE 
4 - STANDARDIZATION IS DONE IN THE COLOUMNS USED TO PREDICT THE TARGET VALUE

2. Regression Algorithm Implementation (5 marks):
● Implement the following regression algorithms:
○ Linear Regression
○ Decision Tree Regressor
○ Random Forest Regressor
○ Gradient Boosting Regressor
○ Support Vector Regressor (SVR)
● For each algorithm: Provide a brief explanation of how it works. Explain why it
might be suitable for this dataset.

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [10]:
x_train , x_test , y_train , y_test =  train_test_split(x,y,random_state=42 , test_size=0.33)

In [11]:
lr =  LinearRegression()
lr.fit(x_train , y_train)
y_pred =  lr.predict(x_test)

In [12]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [14]:
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

In [15]:
print(f'The MAE IS {mae} , The MSE is {mse} and the R2 is {r2}')

The MAE IS 0.5295710106684453 , The MSE is 0.5369686543372459 and the R2 is 0.5970494128783952

○ Decision Tree Regressor

In [23]:
from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor(random_state=42)
dt.fit(x_train, y_train)
y_pred = dt.predict(x_test)

mae_dt = mean_absolute_error(y_test, y_pred)
mse_dt = mean_squared_error(y_test, y_pred)
r2_dt = r2_score(y_test, y_pred)

print("Decision Tree Regressor - MSE:", mse_dt, "R2:", r2_dt , "MAE" , mae_dt)

Decision Tree Regressor - MSE: 0.5436467418949648 R2: 0.5920380602035291 MAE 0.47616439371697006

RANDOM FOREST REGRESSOR

In [24]:
from sklearn.ensemble import RandomForestRegressor


rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(x_train, y_train)
y_pred_rf = rf.predict(x_test)

mae_rf = mean_absolute_error(y_test , y_pred)
mse_rf = mean_squared_error(y_test, y_pred_rf)
r2_rf = r2_score(y_test, y_pred_rf)

print("Random Forest Regressor - MSE:", mse_rf, "R2:", r2_rf ,"MAE: ", mae_rf )

Random Forest Regressor - MSE: 0.2601832713267809 R2: 0.8047539626503036 MAE:  0.47616439371697006

GRADIENT BOOSTING REGRESSOR

In [25]:
from sklearn.ensemble import GradientBoostingRegressor

gbr = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, random_state=42)
gbr.fit(x_train, y_train)
y_pred = gbr.predict(x_test)

mae_gbr =  mean_absolute_error(y_test,y_pred)
mse_gbr = mean_squared_error(y_test, y_pred)
r2_gbr = r2_score(y_test, y_pred)

print("Gradient Boosting Regressor - MSE:", mse_gbr, "R2:", r2_gbr)

Gradient Boosting Regressor - MSE: 0.29265012711495053 R2: 0.7803902712203401

SVR

In [26]:
from sklearn.svm import SVR

svr = SVR(kernel='rbf', C=100, epsilon=0.1)
svr.fit(x_train, y_train)
y_pred_svr = svr.predict(x_test)

mae_svr = mean_absolute_error(y_test , y_pred)
mse_svr = mean_squared_error(y_test, y_pred_svr)
r2_svr = r2_score(y_test, y_pred_svr)

print("Support Vector Regressor - MSE:", mse_svr, "R2:", r2_svr)

Support Vector Regressor - MSE: 0.3154823068485497 R2: 0.7632566077287993

Best-performing algorithm: Random Forest Regressor

Justification: Lowest MSE and highest R², meaning it predicts house prices most accurately and captures complex feature interactions without overfitting.

Worst-performing algorithm: Linear Regression

Reasoning: Linear model cannot capture the non-linear relationships in the California Housing dataset, leading to higher MSE and lower R² compared to ensemble methods.